:focus {
  outline: none;
}

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  width: 300px;
  margin: 30px 0px 0px 30px;
}

#toggle-button-container {
  width: 30px;
  min-width: 60px;
  height: 30px;
  background-color: grey;
  border-radius: 25px;
  position: relative;
}

#toggle-button-container.active {
  background-color: #d1f0d2;
}

#toggle-button {
  position: absolute;
  left: 0;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  background-color: white;
  transition: left 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

#toggle-button.active {
  left: 30px;
}

#font-selector {
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  font-size: 16px; /* 폰트 크기 */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px; /* 둥근 모서리 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;

  /* 추가 스타일 */
  color: #333; /* 텍스트 색상 */
  margin: 10px 0; /* 마진 */
}

#input-container {
  min-width: 800px;
  max-width: 800px;
  border: none;
  border-bottom: 3px solid black;
  margin-top: 100px;
  margin-bottom: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
}

#input-container.dark-mode {
  border-bottom: 3px solid white;
}

#keyboard-container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 5px;
  max-width: 880px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 10px;
}

.keyboard-row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr repeat(auto-fill, minmax(40px, 1fr)) auto;
  grid-auto-flow: column;
  gap: 5px;
  background-color: #f0f0f0;
  padding: 5px;
}

.key {
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key.active {
  background-color: #4caf50;
}

.key.dark-mode {
  background-color: black;
}

.key-content.dark-mode {
  color: white;
}

.key-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
