:focus {
  outline: none;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#input-container {
  max-width: 800px;
  border: none;
  border-bottom: 3px solid black;
  margin-top: 100px;
  margin-bottom: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
}

#keyboard-container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 5px;
  max-width: 880px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 10px;
}

.keyboard-row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr repeat(auto-fill, minmax(40px, 1fr)) auto;
  grid-auto-flow: column;
  gap: 5px;
  background-color: #f0f0f0;
  padding: 5px;
}

.key {
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key.active {
  background-color: #4caf50;
}

.key-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
